<div class="row">
   <div class="col-xs-12">
      <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
   </div>
</div>
<div class="row">
   <div class="col-xs-12">
     <h1>{{selectedRecipe?.name}}</h1>
   </div>
   <div class="col-xs-12">
      <button class="btn btn-success">To shopping list</button>
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
   </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedRecipe?.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>